---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import { cn } from "@/lib/utils";
import BlogCard from "@/components/home/BlogCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class={cn(
      "min-h-screen antialiased max-w-2xl mx-auto py-12 sm:py-24 px-6",
      "flex flex-col min-h-[100dvh] space-y-10",
    )}
  >
    <div class="space-y-1.5">
      <h1 class="text-xl font-bold tracking-tighter sm:text-2xl xl:text-3xl">
        Here I share my learning
      </h1>
      <span>Commit to at least 1 blog monthly</span>
    </div>
    <section>
      <div>
        <ul class="mb-4 ml-4 divide-y divide-dashed border-l">
          {
            posts.map((post) => (
              <div class="transition-all duration-300 hover:-translate-x-2 hover:bg-muted hover:shadow">
                <BlogCard
                  title={post.data.title}
                  description={post.data.description}
                  date={post.data.pubDate}
                  image={post.data.heroImage}
                  link={`/blog/${post.slug}/`}
                />
              </div>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</MainLayout>
