---
import "@/styles/global.css";
import AvatarCircle from "@/components/blocks/AvatarCircle.astro";
import BlogCard from "@/components/home/BlogCard.astro";
import HackathonCard from "@/components/home/HackathonCard.astro";
import ProjectCard from "@/components/home/ProjectCard.astro";
import ResumeCard from "@/components/home/ResumeCard.astro";
import { Badge } from "@/components/ui/badge";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { DATA } from "@/content/resume";
import MainLayout from "@/layouts/MainLayout.astro";
import { cn } from "@/lib/utils";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<!doctype html>
<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class={cn(
      "min-h-screen antialiased max-w-2xl mx-auto py-12 sm:py-24 px-6",
      "flex flex-col min-h-[100dvh] space-y-10",
    )}
  >
    <section id="hero">
      <div class="mx-auto w-full max-w-2xl space-y-8">
        <div class="flex justify-between gap-2">
          <div class="flex flex-1 flex-col space-y-1.5">
            <span
              class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none"
            >
              Hi, I'm {DATA.name.split(" ")[0]} 👋
            </span>
            <span>{DATA.description}</span>
          </div>
          <AvatarCircle
            className="size-28 border"
            src={DATA.avatarUrl}
            alt={DATA.name}
            fallbackText={DATA.initials}
          />
        </div>
      </div>
    </section>
    {
      DATA.summary && (
        <section id="about">
          <div>
            <h2 class="text-xl font-bold">About</h2>
          </div>
          <div>
            <div class="prose dark:prose-invert max-w-full text-pretty font-sans text-sm text-muted-foreground">
              {DATA.summary}
            </div>
          </div>
        </section>
      )
    }
    <section id="work">
      <div class="flex min-h-0 flex-col gap-y-3">
        <div>
          <h2 class="text-xl font-bold">Work Experience</h2>
        </div>
        {
          DATA.work.map((work) => (
            <div>
              <ResumeCard
                logoUrl={work.logoUrl}
                altText={work.company}
                title={work.company}
                subtitle={work.title}
                href={work.href}
                badges={work.badges}
                period={`${work.start} - ${work.end ?? "Present"}`}
                description={work.description}
              />
            </div>
          ))
        }
      </div>
    </section>
    <section id="education">
      <div class="flex min-h-0 flex-col gap-y-3">
        <div>
          <h2 class="text-xl font-bold">Education</h2>
        </div>
        {
          DATA.education.map((education) => (
            <div>
              <ResumeCard
                href={education.href}
                logoUrl={education.logoUrl}
                altText={education.school}
                title={education.school}
                subtitle={education.degree}
                period={`${education.start} - ${education.end}`}
              />
            </div>
          ))
        }
      </div>
    </section>
    <section id="skills">
      <div class="flex min-h-0 flex-col gap-y-3">
        <div>
          <h2 class="text-xl font-bold">Skills</h2>
        </div>
        <div class="flex flex-wrap gap-1">
          {
            DATA.skills.map((skill) => (
              <div>
                <Badge className="rounded-md">{skill}</Badge>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section id="projects">
      <div class="w-full space-y-12 py-12">
        <div>
          <div
            class="flex flex-col items-center justify-center space-y-4 text-center"
          >
            <div class="space-y-2">
              <div
                class="inline-block rounded-lg bg-foreground px-3 py-1 text-sm text-background"
              >
                My Projects
              </div>
              <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
                Check out my latest work
              </h2>
              <p
                class="text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
              >
                I&apos;ve worked on a variety of projects, from simple websites
                to complex web applications. Here are all my personal public
                projects.
              </p>
            </div>
          </div>
        </div>
        <div
          class="mx-auto grid max-w-[800px] grid-cols-1 gap-3 sm:grid-cols-2"
        >
          {
            DATA.projects.map((project) => (
              <div>
                <ProjectCard
                  href={project.href}
                  title={project.title}
                  description={project.description}
                  dates={project.dates}
                  tags={project.technologies}
                  image={project.image}
                  video={project.video}
                  links={project.links}
                />
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section id="blogs">
      <div class="w-full space-y-12 py-12">
        <div>
          <div
            class="flex flex-col items-center justify-center space-y-4 text-center"
          >
            <div class="space-y-2">
              <div
                class="inline-block rounded-lg bg-foreground px-3 py-1 text-sm text-background"
              >
                Blogs
              </div>
              <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
                My recents learing
              </h2>
              <p
                class="text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
              >
                Day after day, I&apos;m learning something new. The best way to
                remember what I&apos;ve learned is to write about it.
              </p>
            </div>
          </div>
        </div>
        <div>
          <ul class="mb-4 ml-4 divide-y divide-dashed border-l">
            {
              posts.map((post) => (
                <div>
                  <BlogCard
                    title={post.data.title}
                    description={post.data.description}
                    date={post.data.pubDate}
                    image={post.data.heroImage}
                    link={`/blog/${post.slug}`}
                  />
                </div>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
    <section id="hackathons">
      <div class="w-full space-y-12 py-12">
        <div>
          <div
            class="flex flex-col items-center justify-center space-y-4 text-center"
          >
            <div class="space-y-2">
              <div
                class="inline-block rounded-lg bg-foreground px-3 py-1 text-sm text-background"
              >
                Hackathons
              </div>
              <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
                I like building things
              </h2>
              <p
                class="text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
              >
                During my time in university, I attended {
                  DATA.hackathons.length
                } hackathons. People from around the country would come together
                and build incredible things in 1-2 days. It was eye-opening to see
                the endless possibilities brought to life by a group of motivated
                and passionate individuals.
              </p>
            </div>
          </div>
        </div>
        <div>
          <ul class="mb-4 ml-4 divide-y divide-dashed border-l">
            {
              DATA.hackathons.map((project) => (
                <div>
                  <HackathonCard
                    title={project.title}
                    description={project.description}
                    location={project.location}
                    dates={project.dates}
                    image={project.image}
                    links={project.links}
                  />
                </div>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
    <section id="contact">
      <div
        class="grid w-full items-center justify-center gap-4 px-4 py-12 text-center md:px-6"
      >
        <div>
          <div class="space-y-3">
            <div
              class="inline-block rounded-lg bg-foreground px-3 py-1 text-sm text-background"
            >
              Contact
            </div>
            <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
              Get in Touch
            </h2>
            <p
              class="mx-auto max-w-[600px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
            >
              Want to chat? Just shoot me a dm{" "}
              <a
                target="_blank"
                href={DATA.contact.social.X.url}
                class="text-blue-500 hover:underline"
              >
                with a direct question on twitter
              </a>{" "}
              and I&apos;ll respond whenever I can. I will ignore all soliciting.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
