---
import { getBlogImageFromPath } from "@/lib/utils";
import { Image } from "astro:assets";
import dayjs from "dayjs";
import { Badge } from "../ui/badge";

interface Props {
  title: string;
  description: string;
  date: Date;
  image?: string;
  link: string;
  published?: boolean;
}

const { title, description, date, image, link, published } = Astro.props;

const heroImage = await getBlogImageFromPath(image);
---

<a href={link}>
  <li class="relative mx-10 py-4">
    <div
      class="absolute -left-16 top-2 flex items-center justify-center rounded-full bg-white"
    >
    </div>
    <div class="flex flex-col-reverse gap-4 md:flex-row md:gap-16">
      <div class="flex flex-1 flex-col justify-start gap-1">
        <div class="flex items-center gap-2">
          {
            date && (
              <time class="text-xs text-muted-foreground">
                {dayjs(date).format("MMM DD, YYYY")}
              </time>
            )
          }
          {
            !published && (
              <Badge variant="destructive" className="w-fit">
                Unpublished
              </Badge>
            )
          }
        </div>
        <h2 class="font-semibold leading-tight">{title}</h2>
        {
          description && (
            <span class="prose dark:prose-invert text-sm text-muted-foreground">
              {description}
            </span>
          )
        }
      </div>
      <div>
        {
          heroImage ? (
            <Image
              src={heroImage.default}
              alt={title}
              class="aspect-video h-fit w-full rounded-md object-cover md:w-48"
            />
          ) : (
            <div class="aspect-video w-full rounded-md bg-secondary md:w-48" />
          )
        }
      </div>
    </div>
  </li>
</a>
