---
import dayjs from "dayjs";

interface Props {
  title: string;
  description: string;
  date: Date;
  image?: string;
  link: string;
}

const { title, description, date, image, link } = Astro.props;
---

<a href={link}>
  <li class="relative mx-10 py-4">
    <div
      class="absolute -left-16 top-2 flex items-center justify-center rounded-full bg-white"
    >
    </div>
    <div class="flex gap-16">
      <div class="flex flex-1 flex-col justify-start gap-1">
        {
          date && (
            <time class="text-xs text-muted-foreground">
              {dayjs(date).format("MMM DD, YYYY")}
            </time>
          )
        }
        <h2 class="font-semibold leading-none">{title}</h2>
        {
          description && (
            <span class="prose dark:prose-invert text-sm text-muted-foreground">
              {description}
            </span>
          )
        }
      </div>
      <img
        src={image}
        alt={title}
        class="aspect-video w-full rounded-md object-cover md:w-48"
      />
    </div>
  </li>
</a>
